## Priprava podatkov, osnovne statistike in vizualizacija

Podatkovno rudarjenje, naloga, `23.02.2025`  
**`Eva Müller`**

Neizogiben del vsakega projekta na področju podatkovnega rudarjenja je iskanje,
urejanje in priprava podatkov. V tej nalogi boste spoznali primer podatkovne
zbirke in uporabili postopke za pretvorbo podatkov v ustrezno obliko ter pregled in
prikaz osnovnih statistik.

### Podatki

V nalogi boste pregledali in pripravili podatke gledanosti Hollywoodskih filmov
zbirke [MovieLens](https://grouplens.org/datasets/movielens/) v obdobju **1995-2016**.

Iste podatke boste uporabili v vseh nalogah, zato jih dodobra spoznajte. Gre za podatkovno zbirko za
vrednotenje priporočilnih sistemov, ki vsebuje gledalce ter njihove ocene za posamezni film na lestvici 1 do 5. 
Poleg osnovne matrike uporabnikov in ocen vsebuje še dodatne podatke o filmih (npr. žanr, datum, oznake,
igralci).

Podatki so v mapi `./podatki/ml-latest-small`. Podatkovna zbirka vsebuje naslednje datoteke:

* ratings.csv: podatki o uporabnikih in ocenah,
* movies.csv: podatki o žanrih filmov,
* cast.csv: podatki o igralcih,
* tags.csv: podatki o oznakah (ang. \emph{tags}),
* links.csv: povezave na sorodne podatkovne zbirke.


Pred pričetkom reševanja naloge si dobro oglejte podatke in datoteko **README.txt**. Podrobnosti o zbirki lahko preberete na [spletni strani](http://files.grouplens.org/datasets/movielens/ml-latest-small-README.html).

Pripravite metode za nalaganje podatkov v ustrezne podatkovne strukture. Te vam bodo prišle
prav tudi pri nadaljnjih nalogah.
Bodite pozorni na velikost podatkov.

Zapišite kodo za branje datotek in pripravo ustreznih matrik (in drugih struktur) podatkov, ki jih boste uporabi pri odgovarjanju na spodnja vprašanja.

Kodo lahko razdelite v več celic.

In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

cast = pd.read_csv( 'podatki/ml-latest-small/cast.csv')
ratings = pd.read_csv ('podatki/ml-latest-small/ratings.csv')
movies = pd.read_csv('podatki/ml-latest-small/movies.csv')
links = pd.read_csv ('podatki/ml-latest-small/links.csv')
tags = pd.read_csv('podatki/ml-latest-small/tags.csv')

nabor ratingov v ratings tabeli

In [76]:
pd.unique(ratings["rating"])

array([2.5, 3. , 2. , 4. , 3.5, 1. , 5. , 4.5, 1.5, 0.5])

iz ratingov, vsi ki imajo rating 4.0

In [94]:
ratings.loc[ratings["rating"] == 4.0]

        userId  movieId  rating   timestamp
4            1     1172     4.0  1260759205
12           1     1953     4.0  1260759191
13           1     2105     4.0  1260759139
20           2       10     4.0   835355493
23           2       47     4.0   835355552
...        ...      ...     ...         ...
99992      671     5816     4.0  1065111963
99995      671     5989     4.0  1064890625
99997      671     5995     4.0  1066793014
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363

[28750 rows x 4 columns]

za numericne podatke je to osnovna statistika

In [95]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

cross tabele

In [97]:
pd.crosstab(movies["genres"], movies["title"])

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
genres,,,,,,,,,,,,,,,,,,,,,
(no genres listed),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action|Adventure,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action|Adventure|Animation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action|Adventure|Animation|Children,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sci-Fi|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sci-Fi|Thriller|IMAX,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
War,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

filmi ki imajo ratinge mn kot 0.6, takih je 1101

In [122]:
veck4 = ratings[(ratings["rating"] < 0.6)]
veck4

       userId  movieId  rating   timestamp
466         6     1876     0.5  1108134334
615         8     1358     0.5  1154474527
984        15       70     0.5  1093070467
1001       15      160     0.5  1093028411
1053       15      355     0.5  1122576667
...       ...      ...     ...         ...
96345     643     8387     0.5  1372518405
97581     654     1037     0.5  1145392839
98536     660      593     0.5  1436680073
98626     661      637     0.5  1190265552
98649     661     4483     0.5  1190266014

[1101 rows x 4 columns]

In [123]:
#Prikaz prvih nekaj vrstic podatkov
print("Ratings:")
print()
print(ratings.head())
print()
print("Movies:")
print()
print(movies.head())
print()
print("\nCast:")
print()
print(cast.head())

Ratings:

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

Movies:

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy


Cast:

   movieId                                               cast
0        1  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1        2  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2        3  Walter Matthau|Jack Lemmon|Sophia Loren|Burges...
3        4  Whitney Houston|Angela Bassett|Loretta Devine|...
4        5  Steve Martin|Diane Keaton|Martin Short|George ...

### Vprašanja

Glavni namen podatkovnega rudarjenja je *odkrivanje znanj iz podatkov*,
torej odgovarjanje na vprašanja z uporabo računskih postopkov.

Z uporabo principov, ki ste jih spoznali na vajah in predavanjih, odgovorite na
spodnja vprašanja. Pri vsakem vprašanju dobro premislite, na kakšen način boste
najbolje podali, prikazali oz. utemeljili odgovor. Bistven del so odgovori na
vprašanja in ne implementacija vaše rešitve.

#### 1. vprašanje (15%):
Kateri filmi so v povprečju najbolje ocenjeni?  Pripravite seznam
filmov ter njihovih povprečnih ocen in izpišite 10 filmov z vrha seznama.
Opazite pri takem ocenjevanju kakšno težavo? Kako bi jo lahko rešili? Kakšni so
rezultati tedaj?

Kodo lahko razdelite v več celic.

In [124]:
# Pretvorba časovnega formata
ratings["timestamp"] = pd.to_datetime(ratings["timestamp"], unit="s")

In [114]:
# Preverimo unikatne žanre
genres = set()
for genre_list in movies["genres"]:
    for genre in genre_list.split("|"):
        genres.add(genre)
print("Unikatni žanri:", genres)

# Vizualizacija porazdelitve žanrov
all_genres = [genre for genre_list in movies["genres"] for genre in genre_list.split("|")]
genre_counts = pd.Series(all_genres).value_counts()

plt.figure(figsize=(12, 6))

plt.xticks(rotation=45)
plt.title("Porazdelitev žanrov")
plt.show()

Ratings:
   userId  movieId  rating           timestamp
0       1       31     2.5 2009-12-14 02:52:24
1       1     1029     3.0 2009-12-14 02:52:59
2       1     1061     3.0 2009-12-14 02:53:02
3       1     1129     2.0 2009-12-14 02:53:05
4       1     1172     4.0 2009-12-14 02:53:25

Movies:
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

Cast:
   movieId                                               cast
0        1  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1        2  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2        3  Walter Matthau|Jack Lemmon|Sophia Loren|Burges...
3        4  Whitney Houston|Angela Bassett|Loretta Devine|...
4        5  Steve Martin|Diane Keaton|Martin Short|George ...
Unikatni žanri: {'Children', 'Documentary', 'Crime', 'Mystery', 'Adventure', 'Western', 'Drama', 'Fantasy', 'Romance', 'Musical', 'Animation', '(no genres listed)', 'War', 'Horror', 'Comedy', 'Film-Noir', 'Sci-Fi', 'IMAX', 'Thriller', 'Action'}

TypeError: 'module' object is not callable

Odgovor: **zapišite utemeljitev odgovora**

#### 2. vprašanje (15%):
Posamezni film pripada enemu ali več žanrom. 
Koliko je vseh žanrov? Prikaži porazdelitev žanrov z uporabo ustrezne
vizualizacije.

Kodo lahko razdelite v več celic.

Odgovor: **zapišite utemeljitev odgovora**

#### 3. vprašanje (20%):
Število ocen (ogledov) se za posamezni film razlikuje. Ali
obstaja povezava med gledanostjo in povprečno oceno filma? Opišite postopek, ki
ste ga uporabili pri odgovarjanju na vprašanje.

Kodo lahko razdelite v več celic.

Odgovor: **zapišite utemeljitev odgovora**

#### 4. vprašanje (30%):
Vsaka ocena je bila vnešena na določen datum (stolpec
*timestamp*).  Ali se popularnost posameznih filmov s časom spreminja?
Problem reši tako, da za dani film ocene razporediš po času ter v vsaku časovni
točki izračunaš povprečje za zadnjih 30, 50, ali 100 ocen. Nariši graf, kako se
ocena spreminja in ga prikaži za dva zanimiva primera filmov.

Kodo lahko razdelite v več celic.

Odgovor: **zapišite utemeljitev odgovora**

#### 5. vprašanje (20%):
Kako bi ocenili popularnost posameznih igralcev? Opišite postopek
ocenitve ter izpišite 10 najbolj popularnih igralcev.

Kodo lahko razdelite v več celic.

Odgovor: **zapišite utemeljitev odgovora**

#### Bonus vprašanje (5%):

Kateri je tvoj najljubši film? Zakaj?

Odgovor: **zapišite utemeljitev odgovora**

### Zapiski
Za nalaganje podatkov lahko uporabite modul `csv`.

In [18]:
from csv import DictReader

reader = DictReader(open('podatki/ml-latest-small/ratings.csv', 'rt', encoding='utf-8'))
for row in reader:
    user = row["userId"]
    movie = row["movieId"]
    rating = row["rating"]
    timestamp = row["timestamp"]

Podatki v zadnji vrstici datoteke:

In [19]:
user, movie, rating, timestamp

('671', '6565', '3.5', '1074784724')

Pretvorba časovnega formata (*Unix time*). Kode za oblikovanje so navedene v dokumentaciji modula [`datetime`](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

In [20]:
from datetime import datetime

t = 1217897793 # Unix-time
ts = datetime.fromtimestamp(t).strftime('%Y-%m-%d %H:%M')
ts

'2008-08-05 02:56'